@font-face {
  font-family: starwars;
  src: local("starwars"), url(../fonts/STARWARS.TTF);
  font-weight: bold;
}

* {

  font-family: starwars;
}

html {
  height: auto;
}

#contacto h2 {
  color: white;
}

.navbarNav li {
  font-family: starwars;
}
body {
  width: 100%;
  height: auto;
  padding: 1%;
  background-image: url(../img/fondoStarWars.jpg);
  background-position: center;
}

.table-dark {
  color: #fff;
  background-color: #212529;
  margin: 3%;
}

