@font-face {
  font-family: starwars;
  src: local("starwars"), url(../fonts/STARWARS.TTF);
  font-weight: bold;
}

* {
  font-family: starwars;
}

html {
  height: auto;
}

#contacto h2 {
  color: white;
}

.navbarNav li {
  font-family: starwars;
}
body {
  width: 100%;
  height: auto;
  padding: 1%;
  background-image: url(../img/fondoStarWars.jpg);
  background-position: center;
}

.table-dark {
  color: #fff;
  background-color: #212529;
  margin: 3%;
}

.logo-img img {
  height: 600px;
}

.bienvenido {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 10%;
}
.jaciura a {
  color: yellow;
  font-size: 20px;
}
.jaciura a:hover {
  color: white;
  font-size: 20px;
}
.jaciura {
  text-align: center;
}
.tablacontenedor{
  padding: 5%;
}

button .saveChar{
  background-color:red ;
}